*.history
.Rproj.user
.Rhistory
inst/doc
Rmd
.RData
other
tests/testthat/Rplots.pdf
vignettes/iprior2_test.Rmd
vignettes/cache
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.tex
*.texpadtmp
/doc/
/Meta/
.DS_Store
